@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", "sans-serif";
  overflow-x: hidden;
}

.homescreen-bg {
  background-image: url("./assets/homepage-bg.png");
  background-color: #3e3e47;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: fit-content;
}

.albumItemBox {
  font-family: "Inter", "sans-serif";
  position: relative;
  overflow: hidden;
  width: 100%;
  min-width: 200px;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* width */
.customScrollbar::-webkit-scrollbar {
  width: 5px;
  height: 7px;
  scrollbar-width: thin;
}

/* Track */
.customScrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.363);
  border-radius: 10px;
}

/* Handle */
.customScrollbar::-webkit-scrollbar-thumb {
  background: #3e3e47ca;
  border-radius: 10px;
  padding: 5px;
}

/* Handle on hover */
.customScrollbar::-webkit-scrollbar-thumb:hover {
  background: #3e3e47;
}
